<div class="top-bar">
    <div class="brand">
        <img src="https://placehold.co/150x45?text=Brand" alt="">
    </div>

    <div class="informations">

        <div class="course">
            <div class="name">YesBabylon cours #1</div>

            <div class="breadcrumb">
                <div class="part">
                    <span class="label">Module: Qu'est ce que Symbiose</span>
                    <span class="progress">1 / 10 - 20min</span>
                </div>

                <div class="part">
                    <span class="label">lesson: Introduction</span>
                    <span class="progress">1 / 4 - 5min - 3p</span>
                </div>
            </div>

        </div>

        <div class="progression">
            <div class="text">
                <span class="title">Progression</span>
                <span class="details">10min / 3h 20min</span>
            </div>

            <div class="chart">
                <img src="https://placehold.co/75x75/?text=Chart" alt="">
            </div>
        </div>
    </div>

    <div class="profile">
        <img src="https://placehold.co/50x50/?text=A" alt="">
    </div>
</div>
