.layout {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11021c;

    .text {
        font-size: 11vw;
        text-rendering: geometricPrecision;
        text-transform: uppercase;
        font-weight: 900;
        background-image: -webkit-linear-gradient(0deg, rgba(9, 248, 114, 1) 0%, rgba(9, 248, 169, 1) 35%, rgba(0, 212, 255, 1) 100%);
        background-size: 100%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
